@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Playfair+Display:wght@400;600&display=swap');
$textWhite: #fbf8f3;
$textDark: #111827;

@mixin fontItalia {
    font-family: 'Playfair Display', serif;
}

@mixin fontNormal { 
    font-family: 'Montserrat', sans-serif;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}