footer {
    @media (max-width: 500px) {
        justify-content: center;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    .copyright {
        color: $textWhite;
        padding: 0 35px;
        @include fontNormal;
        font-size: 0.9rem
    }
    .photoattr {
        color: $textWhite;
        @include fontNormal;
        a{
            color: #b2f8b2;
        }
    @media (max-width: 500px) {
        display: none;
    }
    }
    .socials {
        @media (max-width: 500px) {
            display: none;
        }
        @include flexCenter;
        width: 300px;
        span{
            @include flexCenter;
            width: 100px;
            a{
                img{
                    width: 30px;
                    transition: width 0.2s ease-in-out;
                    &:hover {
                        width: 35px;
                    }
                }
            }
        }
    }
}